조건문과 반복문

In [3]:
# 논리연산자 
# and, or, not 

v1 = 1
(v1 >= 3) and (v1<=7) # 3과 7사이 (동시만족)
(v1 >= 3) & (v1<=7)

False

In [5]:
(v1 <= 3) or (v1>=7) # or 둘 중 하나만 True 면 됨 
(v1 <= 3) | (v1>=7)

True

In [7]:
not(v1 == 1)

False

In [8]:
# 조건문 if 

# if 조건 : 
#     참(True) 실행할 문장
# elif 조건 2 : # 조건이 여러 개 있을 때 (else if)
#     조건 1이 거짓(False)면서 조건 2가 참(True) 일 때 실행할 문장 
# else: 
#     조건1, 조건 2 모두 거짓(False)일 때 실행할 문장

In [13]:
v1 = 3

if v1 > 5: 
    print('A')
else: 
    print('B')

B

In [15]:
# l1 = [1,3,5,7,9] # 리스트 

# if l1 > 5: 
#     print('A')
# else: 
#     print('B')

# TypeError: '>' not supported between instances of 'list' and 'int'
# 리스트는 불가

In [18]:
# 반복문 
# 객체의 각 원소에 동일한 연산처리 진행할 경우 사용 

# 1. for 문 : 정해진 횟수, 대상이 있을 경우 
# for 반복할 변수 (i) in 반복할 대상(범위): 
#     반복 실행할 문장 

# 1~10까지 출력하세요 
# range(1, 11) 
# [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

for i in range(1,11): 
    print(i)

1
2
3
4
5
6
7
8
9
10

In [17]:
list(range(1, 11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [19]:
# 예제 
# 다음의 리스트를 선언하고 5보다 클 경우, 'A' 작거나 같을 경우 'B' 

l1 = [1,3,5,15,25]

for i in l1:
    if i > 5: 
        print('A')
    else: 
        print('B')

B
B
B
A
A

In [20]:
for i in [1,3,5,15,25]:
    if i > 5: 
        print('A')
    else: 
        print('B')

B
B
B
A
A

In [23]:
# 리스트에서 각 원소에 10을 더해 출력 불가 
# l1 + 10
# TypeError: can only concatenate list (not "int") to list

In [24]:
for i in l1: 
    print(i+10)

11
13
15
25
35

In [27]:
# for 문 결과를 바로 변수로 저장하고 싶은데? 안되네 
# l1= for i in l1: 
#         print(i+10)
# SyntaxError: invalid syntax

In [28]:
l2 = [ ]
for i in l1: 
    l2.append(i+10)

In [29]:
l2

[11, 13, 15, 25, 35]

In [30]:
l3 = [1,2,3]
l3.append(4)
l3

[1, 2, 3, 4]

In [32]:
l4 = [1,2,3].append(4)
l4

In [33]:
# while 문 : 무한 반복, 조건에 따른 반복 실행 

# while 조건: 
#     조건이 참 일 때 반복 문장
# 반드시 정지조건 (break)

In [36]:
# 예제 
# while 으로 1~10까지 출력 

i = 1
while i <=10:
    print(i)
    i = i + 1

1
2
3
4
5
6
7
8
9
10

In [38]:
# 문제 
# 1~10까지 총 합 

vsum = 0 
for i in range(1,11): 
    vsum = vsum + i

print(vsum)

# i        vsum     일반화 
# 1        0+1      vsum + 1
# 2        1+2      vsum + 2
# 3        1+2+3    vsum + 3
# 4        1+2+3+4  vsum + 4
# >>>> vsum + i

55

In [39]:
# 1~100까지 총 합

sum(i for i in range(1,101))

5050

In [40]:
# 1~100까지 짝수 총합 

# 대박 힌트 
#  if i%2 == 0: # 만약 i를 2로 나누어서 나온 나머지가 0이면 >> 짝수 
#  if i%2 == 1: # 만약 i를 2로 나누어서 나온 나머지가 1이면 >> 홀수

vsum = 0 # 초기값 설정 

for i in range(1,101): 
    if i%2 ==0 : # 짝수면 
        vsum = vsum + i 

print(vsum)

2550

In [ ]:
# 반복 제어문 

# 1. continue: 특정 조건일 경우 반복문을 skip 
# 2. break : 특정 조건일 경우 반복문 종료 (정지조건)
# 3. exit: 특정 조건일 경우 프로그램 종료 
# 4. pass: 문법적으로 오류가 발생하기 않게 하기 위해 자리를 채우는 역할

In [43]:
# 예제 
# continue
# 1 ~ 10 출력, 5는 제외 

for i in range(1,11): 
    if i == 5: 
        continue
    print(i)

1
2
3
4
6
7
8
9
10

In [46]:
# 1 ~ 10 출력, 5 만나면 그만둬 
for i in range(1,11): 
    if i == 5: 
        break
    print(i)

1
2
3
4

In [ ]:
# 1 ~ 10 출력, 5 만나면 프로그램 종료해
# for i in range(1,11): 
#     if i == 5: 
#         exit(0)
#     print(i)

In [50]:
v1 = 1

if v1 > 10:
   pass
else: 
    print('drwill')

drwill

In [ ]:
# 문제 
# 1부터 100까지 누적합이 최초 2000 이상이 되는 시점의  k 값과 총 합 출력하세요 
# 1 + 2 + 3 + ..... + k >= 2000

In [51]:
vsum=0
for i in range (1,101):
  vsum = vsum + i 
  if vsum > 2000:
    break
    
print(i,vsum)

63 2016

In [52]:
vsum=0
for i in range (1,101):
  vsum = vsum + i 
  if vsum > 2000:
    break
print(i,vsum)

63 2016

In [55]:
sum = 0
for i in range(1, 101):
  sum += i # sum = sum + i
  if sum >= 2000:
    print(i, sum)
    break

63 2016