In [1]:
# 사용자 함수 정의 
# 사용자가 정의하는 함수의 형태 
# input과 output 관계를 내부에서 정의 
# def, lambda(축약형)

In [2]:
# 함수 정의 
# f(x) = x + 1

# 1. def 방식 

# def 함수이름(인수1, 인수2, 인수3): 
#     함수 본문 
#     return 반환할 객체

# 하나의 숫자를 넣어서 곱하기 10한 값을 반환(return) 하는 함수 만들어봐요 

def f_mul(x): 
    v1 = x*10
    return v1

In [4]:
f_mul(1000)

10000

In [6]:
# 2개의 숫자(2개의 인자를 넣구나!) 넣어서 2 숫자의 곱을 반환 

def f_2_mul(x,y): 
    return (x*y)

print(f_2_mul(3,10))

30

In [7]:
def f_2_mul(x,y): 
    v1 = (x*y)
    return v1

print(f_2_mul(3,10))

30

In [9]:
# 인수에 default 값(기본값 선언)

# def f_d(x=1, y):
#     return (x*y)

# SyntaxError: non-default argument follows default argument
# 첫번째 인수에 기본값 정의하면, 뒤에 나오는 인수도 기본값 정의해 줘야 함

In [10]:
def f_d(x=1, y=1):
    return (x*y)

In [13]:
def f_d(y, x=1):
    return (x*y)

# default 값을 갖는 인수를 맨 뒤에 배치

In [15]:
# lambda (함수 축약형)
# 비교적 단순한 연산 및 return 반환할 때 사용 

# 예제 : 숫자를 넣을 게요. 여기에 10을 곱한 값을 리턴하세요 

f1 = lambda x : x*10
f1(7)

70

In [16]:
# 문제 
# 3개 숫자를 전달받아 1번째, 2번째 합에 3번째 숫자의 곱을 반환하세요 

f2 = lambda x,y,z : (x+y)*z
f2(2,5,3)

21

In [25]:
f1 = lambda x : x*20
f1(4)

80

In [30]:
l1 = [1,2,5,10]
# f1(l1)
# 리스트가 20번 반복되네. 내가 원했던게 아닌데..

In [31]:
# map() 함수 (** 반드시 내고 싶당....탐나는 문제)

# 1) for 문 처리 

l2 = []
for i in l1: 
    l2.append(i*20)

print(l2)

[20, 40, 100, 200]

In [ ]:
# 2) 사용자 정의 함수 + map()

# map(func,      # 적용할 함수
#     iterable)  # 반복하려고 하는 추가할 인수

In [32]:
f1(4)

80

In [33]:
l1

[1, 2, 5, 10]

In [34]:
map(f1,l1)

In [35]:
list(map(f1,l1))

[20, 40, 100, 200]

In [39]:
# 연습해 볼까요? ( very important ******)
# 하나의 숫자를 전달 받을 거예요. 
# 10보다 크면 3을 곱하구요
# 작거나 같으면 2를 곱한 결과를 return 하세요 

l2 = [3,5,7,12]

def f3(x): 
    if x > 10: 
        v1 = x*3
    else: 
        v1 = x*2
    return v1 

print(f3(11))
print(f3(7))
# print(f3(l2))
# TypeError: '>' not supported between instances of 'list' and 'int'

33
14

In [41]:
list(map(f3, l2))

[6, 10, 14, 36]

In [46]:
l2 = [3,5,7,11]

def f3(x):
  if x > 10: 
    v1 = x * 3
  else :
    v1 = x * 2
  return v1

x = input('x 값: ')
list(map(f3,l2))

x 값: 12

[6, 10, 14, 33]

In [47]:
x=input()
x=int(x)

def f3(x):
  if x>10:
    v1 = x*3
  else:
    v1 = x*2
  return v1

print(f3(x))

12
36