


## 1. pandas 패키지 로드

In [1]:
import pandas as pd

## 2. pandas 의 Series 와 DataFrame

1차원, 1개의 column은 Series라고 합니다.

### 2-1. Series

In [2]:
pd.Series([1, 2, 3, 4])

0    1
1    2
2    3
3    4
dtype: int64

In [3]:
a = [1, 2, 3, 4]

In [4]:
pd.Series(a)

0    1
1    2
2    3
3    4
dtype: int64

In [5]:
mylist = [1, 2, 3, 4]
test = pd.Series(mylist)
type(test)

pandas.core.series.Series

In [6]:
test

0    1
1    2
2    3
3    4
dtype: int64

### 2-2. DataFrame

#### 방법 1. list로 만들기

In [7]:
company1 = [['삼성', 2000, '스마트폰'],
           ['현대', 1000, '자동차'],
           ['네이버', 500, '포털']]

In [8]:
pd.DataFrame(company1)

     0     1     2
0   삼성  2000  스마트폰
1   현대  1000   자동차
2  네이버   500    포털

In [9]:
df1 = pd.DataFrame(company1)

In [10]:
df1

     0     1     2
0   삼성  2000  스마트폰
1   현대  1000   자동차
2  네이버   500    포털

#### 제목컬럼 만들기

In [12]:
df1.columns = ['기업명', '매출액', '업종']

In [13]:
df1

   기업명   매출액    업종
0   삼성  2000  스마트폰
1   현대  1000   자동차
2  네이버   500    포털

In [14]:
type(df1)

pandas.core.frame.DataFrame

#### 방법 2. dict로 만들기

In [15]:
company2 = {'기업명':['삼성', '현대', '네이버'], 
            '매출액': [2000, 1000, 500], 
            '업종': ['스마트폰', '자동차', '포털']
           }

In [16]:
df2 = pd.DataFrame(company2)

In [17]:
df2

   기업명   매출액    업종
0   삼성  2000  스마트폰
1   현대  1000   자동차
2  네이버   500    포털

#### index를 특정 column으로 지정하기

In [18]:
df1

   기업명   매출액    업종
0   삼성  2000  스마트폰
1   현대  1000   자동차
2  네이버   500    포털

In [19]:
df1['기업명']

0     삼성
1     현대
2    네이버
Name: 기업명, dtype: object

In [24]:
df1.기업명

0     삼성
1     현대
2    네이버
Name: 기업명, dtype: object

In [25]:
df1

   기업명   매출액    업종
0   삼성  2000  스마트폰
1   현대  1000   자동차
2  네이버   500    포털

In [26]:
df1.index = df1['기업명']  # 기업명을 index로

In [27]:
df1

     기업명   매출액    업종
기업명
삼성    삼성  2000  스마트폰
현대    현대  1000   자동차
네이버  네이버   500    포털

#### series = column 이라고 하였습니다. 확인해 볼까요?

In [28]:
df1['매출액']

기업명
삼성     2000
현대     1000
네이버     500
Name: 매출액, dtype: int64

In [29]:
type(df1['매출액'])

pandas.core.series.Series