In [36]:
import pandas as pd

## 실습에 활용한 예제

[국내 아이돌 평판지수 (csv)](http://bit.ly/ds-korean-idol)

## DataFrame 로드

In [37]:
df = pd.read_csv('https://bit.ly/ds-korean-idol')

## 1. copy (복사)

copy는 단어 그대로, dataframe을 복사할 때 사용합니다.

In [38]:
df.head()

     이름     그룹  소속사  성별        생년월일      키 혈액형   브랜드평판지수
0    지민  방탄소년단  빅히트  남자  1995-10-13  173.6   A  10523260
1  지드래곤     빅뱅   YG  남자  1988-08-18  177.0   A   9916947
2  강다니엘    NaN  커넥트  남자  1996-12-10  180.0   A   8273745
3     뷔  방탄소년단  빅히트  남자  1995-12-30  178.0  AB   8073501
4    화사    마마무  RBW  여자  1995-07-23  162.1   A   7650928

df를 **새로운 변수(new_df)에 대입**해 주고, 새로운 변수에서 값을 바꾼다면, 원래의 DataFrame의 값은 어떻게 될까요?

In [39]:
# python의 복사 특성
# 얕은 복사 : 변수명만 2개가 생성, 실제 메모리 공간은 동일
# 즉, 복사한 것을 수정하면 원본도 수정됨
new_df = df

In [40]:
new_df.head()

     이름     그룹  소속사  성별        생년월일      키 혈액형   브랜드평판지수
0    지민  방탄소년단  빅히트  남자  1995-10-13  173.6   A  10523260
1  지드래곤     빅뱅   YG  남자  1988-08-18  177.0   A   9916947
2  강다니엘    NaN  커넥트  남자  1996-12-10  180.0   A   8273745
3     뷔  방탄소년단  빅히트  남자  1995-12-30  178.0  AB   8073501
4    화사    마마무  RBW  여자  1995-07-23  162.1   A   7650928

In [41]:
new_df['이름'] = 0

In [42]:
new_df.head()

   이름     그룹  소속사  성별        생년월일      키 혈액형   브랜드평판지수
0   0  방탄소년단  빅히트  남자  1995-10-13  173.6   A  10523260
1   0     빅뱅   YG  남자  1988-08-18  177.0   A   9916947
2   0    NaN  커넥트  남자  1996-12-10  180.0   A   8273745
3   0  방탄소년단  빅히트  남자  1995-12-30  178.0  AB   8073501
4   0    마마무  RBW  여자  1995-07-23  162.1   A   7650928

In [43]:
df.head()

   이름     그룹  소속사  성별        생년월일      키 혈액형   브랜드평판지수
0   0  방탄소년단  빅히트  남자  1995-10-13  173.6   A  10523260
1   0     빅뱅   YG  남자  1988-08-18  177.0   A   9916947
2   0    NaN  커넥트  남자  1996-12-10  180.0   A   8273745
3   0  방탄소년단  빅히트  남자  1995-12-30  178.0  AB   8073501
4   0    마마무  RBW  여자  1995-07-23  162.1   A   7650928

이렇게 되는 이유는 같은 메모리 주소를 참조하기 때문입니다.

In [44]:
# hex는 16진수 0~9, a~f.   0xf :15, 0x10 : 16
hex(id(new_df))

'0x7f2f9ffb5190'

In [45]:
hex(id(df))

'0x7f2f9ffb5190'

굉장히 많은 분들이 실수를 하시는 부분입니다.

**원본 데이터를 유지 시키고, 새로운 변수에 복사할 때는 copy()를 사용해 주세요**

In [46]:
df = pd.read_csv('https://bit.ly/ds-korean-idol')

In [47]:
# copy()메소드를 활용하면... 서로 물리적으로 다른 메모리 공간에 데이터를 동일하게 복사한다.
# deep copy : 깊은 복사
copy_df = df.copy()

In [48]:
hex(id(df))

'0x7f2f87a8f610'

In [49]:
hex(id(copy_df))

'0x7f2f87ad59d0'

In [50]:
df.head()  # 원본

     이름     그룹  소속사  성별        생년월일      키 혈액형   브랜드평판지수
0    지민  방탄소년단  빅히트  남자  1995-10-13  173.6   A  10523260
1  지드래곤     빅뱅   YG  남자  1988-08-18  177.0   A   9916947
2  강다니엘    NaN  커넥트  남자  1996-12-10  180.0   A   8273745
3     뷔  방탄소년단  빅히트  남자  1995-12-30  178.0  AB   8073501
4    화사    마마무  RBW  여자  1995-07-23  162.1   A   7650928

In [51]:
copy_df.head() # 복사본

     이름     그룹  소속사  성별        생년월일      키 혈액형   브랜드평판지수
0    지민  방탄소년단  빅히트  남자  1995-10-13  173.6   A  10523260
1  지드래곤     빅뱅   YG  남자  1988-08-18  177.0   A   9916947
2  강다니엘    NaN  커넥트  남자  1996-12-10  180.0   A   8273745
3     뷔  방탄소년단  빅히트  남자  1995-12-30  178.0  AB   8073501
4    화사    마마무  RBW  여자  1995-07-23  162.1   A   7650928

In [52]:
copy_df['이름'] = 0

In [53]:
copy_df.head()

   이름     그룹  소속사  성별        생년월일      키 혈액형   브랜드평판지수
0   0  방탄소년단  빅히트  남자  1995-10-13  173.6   A  10523260
1   0     빅뱅   YG  남자  1988-08-18  177.0   A   9916947
2   0    NaN  커넥트  남자  1996-12-10  180.0   A   8273745
3   0  방탄소년단  빅히트  남자  1995-12-30  178.0  AB   8073501
4   0    마마무  RBW  여자  1995-07-23  162.1   A   7650928

In [54]:
df.head()

     이름     그룹  소속사  성별        생년월일      키 혈액형   브랜드평판지수
0    지민  방탄소년단  빅히트  남자  1995-10-13  173.6   A  10523260
1  지드래곤     빅뱅   YG  남자  1988-08-18  177.0   A   9916947
2  강다니엘    NaN  커넥트  남자  1996-12-10  180.0   A   8273745
3     뷔  방탄소년단  빅히트  남자  1995-12-30  178.0  AB   8073501
4    화사    마마무  RBW  여자  1995-07-23  162.1   A   7650928

## 2. 데이터프레임에 행과 열을 추가 및 삭제

### 2-1. row의 추가

In [55]:
df.head()

     이름     그룹  소속사  성별        생년월일      키 혈액형   브랜드평판지수
0    지민  방탄소년단  빅히트  남자  1995-10-13  173.6   A  10523260
1  지드래곤     빅뱅   YG  남자  1988-08-18  177.0   A   9916947
2  강다니엘    NaN  커넥트  남자  1996-12-10  180.0   A   8273745
3     뷔  방탄소년단  빅히트  남자  1995-12-30  178.0  AB   8073501
4    화사    마마무  RBW  여자  1995-07-23  162.1   A   7650928

dictionary 형태의 데이터를 만들어 준다음 **append()** 함수를 사용하여 데이터를 추가할 수 있습니다. 반드시, **ignore_index=True** 옵션을 같이 추가해 주셔야 에러가 안납니다!

In [56]:
# 기존 데이터 프레임에 한 행을 추가
df.append({'이름': '쯔위', '그룹': '멀티캠퍼스', '소속사': '닥터윌엔터테인먼트', 
           '성별': '여자', '생년월일': '2000-01-01', '키': 165.0, '혈액형': 'O', '브랜드평판지수': 12345678000}, ignore_index=True)

      이름     그룹        소속사  성별        생년월일      키 혈액형      브랜드평판지수
0     지민  방탄소년단        빅히트  남자  1995-10-13  173.6   A     10523260
1   지드래곤     빅뱅         YG  남자  1988-08-18  177.0   A      9916947
2   강다니엘    NaN        커넥트  남자  1996-12-10  180.0   A      8273745
3      뷔  방탄소년단        빅히트  남자  1995-12-30  178.0  AB      8073501
4     화사    마마무        RBW  여자  1995-07-23  162.1   A      7650928
5     정국  방탄소년단        빅히트  남자  1997-09-01  178.0   A      5208335
6     민현   뉴이스트       플레디스  남자  1995-08-09  182.3   O      4989792
7     소연    아이들         큐브  여자  1998-08-26    NaN   B      4668615
8      진  방탄소년단        빅히트  남자  1992-12-04  179.2   O      4570308
9    하성운     핫샷    스타크루이엔티  남자  1994-03-22  167.1   A      4036489
10    태연   소녀시대         SM  여자  1989-03-09    NaN   A      3918661
11   차은우   아스트로       판타지오  남자  1997-03-30  183.0   B      3506027
12    백호   뉴이스트       플레디스  남자  1995-07-21  175.0  AB      3301654
13    JR   뉴이스트       플레디스  남자  1995-06-08  176.0   O      3274137
14    슈가  방탄소년단        빅히트  남자  1993-03-09  174.0   O      2925442
15    쯔위  멀티캠퍼스  닥터윌엔터테인먼트  여자  2000-01-01  165.0   O  12345678000

In [57]:
df.tail()

     이름     그룹   소속사  성별        생년월일      키 혈액형  브랜드평판지수
10   태연   소녀시대    SM  여자  1989-03-09    NaN   A  3918661
11  차은우   아스트로  판타지오  남자  1997-03-30  183.0   B  3506027
12   백호   뉴이스트  플레디스  남자  1995-07-21  175.0  AB  3301654
13   JR   뉴이스트  플레디스  남자  1995-06-08  176.0   O  3274137
14   슈가  방탄소년단   빅히트  남자  1993-03-09  174.0   O  2925442

또한, append() 한 뒤 다시 df에 대입해줘야 변경한 값이 유지 됩니다.

In [58]:
df = df.append({'이름': '쯔위', '그룹': '멀티캠퍼스', '소속사': '닥터윌엔터테인먼트', '성별': '여자', '생년월일': '2000-01-01', '키': 165.0, '혈액형': 'O', '브랜드평판지수': 12345678000}, ignore_index=True)

In [59]:
df.tail()

     이름     그룹        소속사  성별        생년월일      키 혈액형      브랜드평판지수
11  차은우   아스트로       판타지오  남자  1997-03-30  183.0   B      3506027
12   백호   뉴이스트       플레디스  남자  1995-07-21  175.0  AB      3301654
13   JR   뉴이스트       플레디스  남자  1995-06-08  176.0   O      3274137
14   슈가  방탄소년단        빅히트  남자  1993-03-09  174.0   O      2925442
15   쯔위  멀티캠퍼스  닥터윌엔터테인먼트  여자  2000-01-01  165.0   O  12345678000

### 2-2. column 추가

column 추가는 매우 쉽습니다. 단순히 새로운 column을 만들고 값을 대입해주면, 자동으로 생성합니다.

In [60]:
df.head()

     이름     그룹  소속사  성별        생년월일      키 혈액형   브랜드평판지수
0    지민  방탄소년단  빅히트  남자  1995-10-13  173.6   A  10523260
1  지드래곤     빅뱅   YG  남자  1988-08-18  177.0   A   9916947
2  강다니엘    NaN  커넥트  남자  1996-12-10  180.0   A   8273745
3     뷔  방탄소년단  빅히트  남자  1995-12-30  178.0  AB   8073501
4    화사    마마무  RBW  여자  1995-07-23  162.1   A   7650928

In [61]:
# 모든 행이 다 '대한민국'으로 추가
df['국적'] = '대한민국'

In [65]:
df['본적'] = '서울'

In [66]:
df.head()

     이름     그룹  소속사  성별        생년월일      키 혈액형   브랜드평판지수    국적  고향  본적
0    지민  방탄소년단  빅히트  남자  1995-10-13  173.6   A  10523260  대한민국   5  서울
1  지드래곤     빅뱅   YG  남자  1988-08-18  177.0   A   9916947  대한민국   5  서울
2  강다니엘    NaN  커넥트  남자  1996-12-10  180.0   A   8273745  대한민국   5  서울
3     뷔  방탄소년단  빅히트  남자  1995-12-30  178.0  AB   8073501  대한민국   5  서울
4    화사    마마무  RBW  여자  1995-07-23  162.1   A   7650928  대한민국   5  서울

전부 동일한 값이 추가 되면서, column도 추가된 것을 보실 수 있습니다.

만약, 값을 변경하고 싶다면, loc 함수를 활용해서 변경해 줄 수 있겠죠?

In [68]:
# 조건으로 특정 컬럼 데이터 변경
df.loc[ df['이름'] == '지드래곤' , '국적'] = 'Korea'

In [72]:
df.loc[df['이름'] == '화사', '본적'] = '광주'

In [73]:
df.head()

     이름     그룹  소속사  성별        생년월일      키 혈액형   브랜드평판지수     국적  고향  본적
0    지민  방탄소년단  빅히트  남자  1995-10-13  173.6   A  10523260   대한민국   5  서울
1  지드래곤     빅뱅   YG  남자  1988-08-18  177.0   A   9916947  Korea   5  서울
2  강다니엘    NaN  커넥트  남자  1996-12-10  180.0   A   8273745   대한민국   5  서울
3     뷔  방탄소년단  빅히트  남자  1995-12-30  178.0  AB   8073501   대한민국   5  서울
4    화사    마마무  RBW  여자  1995-07-23  162.1   A   7650928   대한민국   5  광주

## 3. 통계값 다루기

In [74]:
df = pd.read_csv('https://bit.ly/ds-korean-idol')

통계값은 data type이 float나 int형 인 column을 다룹니다

In [75]:
df.head()

     이름     그룹  소속사  성별        생년월일      키 혈액형   브랜드평판지수
0    지민  방탄소년단  빅히트  남자  1995-10-13  173.6   A  10523260
1  지드래곤     빅뱅   YG  남자  1988-08-18  177.0   A   9916947
2  강다니엘    NaN  커넥트  남자  1996-12-10  180.0   A   8273745
3     뷔  방탄소년단  빅히트  남자  1995-12-30  178.0  AB   8073501
4    화사    마마무  RBW  여자  1995-07-23  162.1   A   7650928

In [76]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15 entries, 0 to 14
Data columns (total 8 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   이름       15 non-null     object
 1   그룹       14 non-null     object
 2   소속사      15 non-null     object
 3   성별       15 non-null     object
 4   생년월일     15 non-null     object
 5   키        13 non-null     float64
 6   혈액형      15 non-null     object
 7   브랜드평판지수  15 non-null     int64
dtypes: float64(1), int64(1), object(6)
memory usage: 1.1+ KB

In [77]:
df.describe()  # 기술 통계량

                키       브랜드평판지수
count   13.000000  1.500000e+01
mean   175.792308  5.655856e+06
std      5.820576  2.539068e+06
min    162.100000  2.925442e+06
25%    174.000000  3.712344e+06
50%    177.000000  4.668615e+06
75%    179.200000  7.862214e+06
max    183.000000  1.052326e+07

### 3-1. min(최소값), max(최대값)

통계값은 data type이 float나 int형 인 column을 다룹니다

In [79]:
df['키'].min()  # 최솟값

162.1

In [80]:
df['키'].max() # 최대값

183.0

In [82]:
범위 = df['키'].max() - df['키'].min()
범위

20.900000000000006

### 3-2. sum (합계), mean (평균)

In [91]:
df['키']

0     173.6
1     177.0
2     180.0
3     178.0
4     162.1
5     178.0
6     182.3
7       NaN
8     179.2
9     167.1
10      NaN
11    183.0
12    175.0
13    176.0
14    174.0
Name: 키, dtype: float64

In [92]:
df['키'].describe()
# describe() : 정형데이터만 요약통계량만 보여줌

count     13.000000
mean     175.792308
std        5.820576
min      162.100000
25%      174.000000
50%      177.000000
75%      179.200000
max      183.000000
Name: 키, dtype: float64

In [95]:
df['키'].describe(include='all')

count     13.000000
mean     175.792308
std        5.820576
min      162.100000
25%      174.000000
50%      177.000000
75%      179.200000
max      183.000000
Name: 키, dtype: float64

In [83]:
df['키'].sum()

2285.3

In [86]:
df

      이름     그룹      소속사  성별        생년월일      키 혈액형   브랜드평판지수
0     지민  방탄소년단      빅히트  남자  1995-10-13  173.6   A  10523260
1   지드래곤     빅뱅       YG  남자  1988-08-18  177.0   A   9916947
2   강다니엘    NaN      커넥트  남자  1996-12-10  180.0   A   8273745
3      뷔  방탄소년단      빅히트  남자  1995-12-30  178.0  AB   8073501
4     화사    마마무      RBW  여자  1995-07-23  162.1   A   7650928
5     정국  방탄소년단      빅히트  남자  1997-09-01  178.0   A   5208335
6     민현   뉴이스트     플레디스  남자  1995-08-09  182.3   O   4989792
7     소연    아이들       큐브  여자  1998-08-26    NaN   B   4668615
8      진  방탄소년단      빅히트  남자  1992-12-04  179.2   O   4570308
9    하성운     핫샷  스타크루이엔티  남자  1994-03-22  167.1   A   4036489
10    태연   소녀시대       SM  여자  1989-03-09    NaN   A   3918661
11   차은우   아스트로     판타지오  남자  1997-03-30  183.0   B   3506027
12    백호   뉴이스트     플레디스  남자  1995-07-21  175.0  AB   3301654
13    JR   뉴이스트     플레디스  남자  1995-06-08  176.0   O   3274137
14    슈가  방탄소년단      빅히트  남자  1993-03-09  174.0   O   2925442

In [105]:
df.describe(include='all')

         이름     그룹  소속사   성별        생년월일           키  혈액형       브랜드평판지수
count    15     14   15   15          15   13.000000   15  1.500000e+01
unique   15      8    9    2          15         NaN    4           NaN
top      지민  방탄소년단  빅히트   남자  1995-10-13         NaN    A           NaN
freq      1      5    5   12           1         NaN    7           NaN
mean    NaN    NaN  NaN  NaN         NaN  175.792308  NaN  5.655856e+06
std     NaN    NaN  NaN  NaN         NaN    5.820576  NaN  2.539068e+06
min     NaN    NaN  NaN  NaN         NaN  162.100000  NaN  2.925442e+06
25%     NaN    NaN  NaN  NaN         NaN  174.000000  NaN  3.712344e+06
50%     NaN    NaN  NaN  NaN         NaN  177.000000  NaN  4.668615e+06
75%     NaN    NaN  NaN  NaN         NaN  179.200000  NaN  7.862214e+06
max     NaN    NaN  NaN  NaN         NaN  183.000000  NaN  1.052326e+07

In [84]:
df['키'].sum() / len(df['키'])

152.35333333333335

In [90]:
df['키'].sum() / len(df[df['키'].notnull()])

175.7923076923077

In [87]:
df['키'].notnull()

0      True
1      True
2      True
3      True
4      True
5      True
6      True
7     False
8      True
9      True
10    False
11     True
12     True
13     True
14     True
Name: 키, dtype: bool

In [85]:
df['키'].mean()

175.7923076923077

In [96]:
df['소속사']

0         빅히트
1          YG
2         커넥트
3         빅히트
4         RBW
5         빅히트
6        플레디스
7          큐브
8         빅히트
9     스타크루이엔티
10         SM
11       판타지오
12       플레디스
13       플레디스
14        빅히트
Name: 소속사, dtype: object

In [97]:
df['소속사'].isnull()

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
Name: 소속사, dtype: bool

In [99]:
df['소속사'].describe()

count      15
unique      9
top       빅히트
freq        5
Name: 소속사, dtype: object

In [100]:
df['소속사'].describe(include='all')

count      15
unique      9
top       빅히트
freq        5
Name: 소속사, dtype: object

In [102]:
df.describe()

                키       브랜드평판지수
count   13.000000  1.500000e+01
mean   175.792308  5.655856e+06
std      5.820576  2.539068e+06
min    162.100000  2.925442e+06
25%    174.000000  3.712344e+06
50%    177.000000  4.668615e+06
75%    179.200000  7.862214e+06
max    183.000000  1.052326e+07

### 3-3. var, variance(분산) / std, standard deviation (표준 편차)

* 분산과 표준편차는 데이터가 **평균으로부터 얼마나 떨어져 있는지 정도**를 나타냅니다.
* 분산은 **(데이터 - 평균) ** 2 을 모두 합한 값** / n
* 표준편차는 **분산의 루트**

In [106]:
import numpy as np

In [107]:
data_01 = np.array([1, 3, 5, 7, 9])
data_02 = np.array([3, 4, 5, 6, 7])

In [110]:
np.sqrt(((1-5)**2 + (3-5)**2 + (5-5)**2 + (7-5)**2 + (9-5)**2 ) / 5)

2.8284271247461903

In [108]:
data_01.mean()

5.0

In [109]:
data_02.mean()

5.0

In [111]:
data_01.var(), data_02.var()

(8.0, 2.0)

In [112]:
np.sqrt(data_01.var()), np.sqrt(data_02.var())

(2.8284271247461903, 1.4142135623730951)

In [113]:
data_01.std(), data_02.std() #std : standard deviation 표준편차

(2.8284271247461903, 1.4142135623730951)

주로 표준편자 (std)를 많이 사용하며, **데이터가 평균으로부터 얼마나 퍼져있는지 정도를 나타내는 지표라고 이해**하시면 됩니다.

In [114]:
df['키'].var()

33.879102564102595

In [115]:
df['키'].std()

5.820575793175672

### 3-4. 갯수를 세는 count

In [116]:
df['키'].count()

13

### 3.5. 중앙값

In [120]:
# median 
test = [1,3,4,5,7,8,9,10,30,700]
# mean = 37/7
# median = 5
# 중앙값 
# df['키'].median()

In [127]:
test = np.array([1,3,4,5,7,8,9,10,30,700])
print(test.mean())

# 평균은 이상치(극단적인 값)에 의해 왜곡이 될 수 있음 
# 해결방법: 중위수(중앙값)을 같이 확인해야 함

77.7

In [128]:
len(test)

10

In [130]:
# n이 짝수개일 때 : 중위수는 중앙에 위치한 2개의 값을 산술평균함
(7+8) / 2

7.5

In [118]:
df['키'].mean()

175.7923076923077

### 3.6. 최빈값 (mode)

In [131]:
# 최빈값은 데이터셋중에서 횟수가 가장 자주 등장하는 데이터를 가리킨다.
# test = [ 1,1,3,2,4,1,3,2, NAN]
df['키'].mode()

0    178.0
dtype: float64

## 4. 피벗테이블 (pivot_table)

* 피벗테이블은 엑셀의 피벗테이블과 동일합니다.
* 데이터 열 중에서 **두 개의 열을 각각 행 인덱스, 열 인덱스로 사용**하여 데이터를 조회하여 펼쳐놓은 것을 의미합니다.
* 왼쪽에 나타나는 인덱스를 **행 인덱스, 상단에 나타나는 인덱스를 열 인덱스**라고 부릅니다.

In [132]:
df.head()

     이름     그룹  소속사  성별        생년월일      키 혈액형   브랜드평판지수
0    지민  방탄소년단  빅히트  남자  1995-10-13  173.6   A  10523260
1  지드래곤     빅뱅   YG  남자  1988-08-18  177.0   A   9916947
2  강다니엘    NaN  커넥트  남자  1996-12-10  180.0   A   8273745
3     뷔  방탄소년단  빅히트  남자  1995-12-30  178.0  AB   8073501
4    화사    마마무  RBW  여자  1995-07-23  162.1   A   7650928

In [133]:
# pivot_table함수에 데이터프레임을 알려주고, 우리가 원하는 index, columns, values를 지정
pd.pivot_table(df, index='소속사', columns='혈액형', values='키')

혈액형          A     AB      B       O
소속사
RBW      162.1    NaN    NaN     NaN
YG       177.0    NaN    NaN     NaN
빅히트      175.8  178.0    NaN  176.60
스타크루이엔티  167.1    NaN    NaN     NaN
커넥트      180.0    NaN    NaN     NaN
판타지오       NaN    NaN  183.0     NaN
플레디스       NaN  175.0    NaN  179.15

In [136]:
pd.pivot_table(df, index='성별', columns=['소속사'], values='키')

소속사    RBW     YG     빅히트  스타크루이엔티    커넥트   판타지오        플레디스
성별
남자     NaN  177.0  176.56    167.1  180.0  183.0  177.766667
여자   162.1    NaN     NaN      NaN    NaN    NaN         NaN

In [137]:
# index는 행 인덱스
# columns는 열 인덱스
# values는 조회하고 싶은 값
pd.pivot_table(df, index='소속사', columns='혈액형', values='키')

혈액형          A     AB      B       O
소속사
RBW      162.1    NaN    NaN     NaN
YG       177.0    NaN    NaN     NaN
빅히트      175.8  178.0    NaN  176.60
스타크루이엔티  167.1    NaN    NaN     NaN
커넥트      180.0    NaN    NaN     NaN
판타지오       NaN    NaN  183.0     NaN
플레디스       NaN  175.0    NaN  179.15

In [138]:
import numpy as np
# aggfunc에는 추가 계산 옵션 (np.sum, np.mean) - 기본값은 평균
pd.pivot_table(df, index='그룹', columns='혈액형', values='브랜드평판지수', aggfunc=np.mean)

혈액형            A         AB          B          O
그룹
뉴이스트         NaN  3301654.0        NaN  4131964.5
마마무    7650928.0        NaN        NaN        NaN
방탄소년단  7865797.5  8073501.0        NaN  3747875.0
빅뱅     9916947.0        NaN        NaN        NaN
소녀시대   3918661.0        NaN        NaN        NaN
아스트로         NaN        NaN  3506027.0        NaN
아이들          NaN        NaN  4668615.0        NaN
핫샷     4036489.0        NaN        NaN        NaN

In [156]:
# df로 접근해서, 그룹 == '방탄소년단', 열(특성정보)은 혈액형 == AB형인 자료 추출해 보세요 

df[df['그룹']=='방탄소년단'][df['혈액형'] == 'AB']

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  This is separate from the ipykernel package so we can avoid doing imports until

  이름     그룹  소속사  성별        생년월일      키 혈액형  브랜드평판지수
3  뷔  방탄소년단  빅히트  남자  1995-12-30  178.0  AB  8073501

In [157]:
df_group = df[df['그룹']=='방탄소년단']

In [158]:
df_group['혈액형']

0      A
3     AB
5      A
8      O
14     O
Name: 혈액형, dtype: object

In [151]:
df[df['혈액형'] == 'AB']

    이름     그룹   소속사  성별        생년월일      키 혈액형  브랜드평판지수
3    뷔  방탄소년단   빅히트  남자  1995-12-30  178.0  AB  8073501
12  백호   뉴이스트  플레디스  남자  1995-07-21  175.0  AB  3301654

In [145]:
df['그룹']

0     방탄소년단
1        빅뱅
2       NaN
3     방탄소년단
4       마마무
5     방탄소년단
6      뉴이스트
7       아이들
8     방탄소년단
9        핫샷
10     소녀시대
11     아스트로
12     뉴이스트
13     뉴이스트
14    방탄소년단
Name: 그룹, dtype: object

## 5. GroupBy (그룹으로 묶어 보기)

* groupby는 데이터를 **그룹으로 묶어 분석**할 때 활용합니다.
* **소속사**별 키의 평균, **성별** 키의 평균 등 특정, 그룹별 통계 및 데이터의 성질을 확인하고자 할 때 활용합니다.

In [159]:
df.head()

     이름     그룹  소속사  성별        생년월일      키 혈액형   브랜드평판지수
0    지민  방탄소년단  빅히트  남자  1995-10-13  173.6   A  10523260
1  지드래곤     빅뱅   YG  남자  1988-08-18  177.0   A   9916947
2  강다니엘    NaN  커넥트  남자  1996-12-10  180.0   A   8273745
3     뷔  방탄소년단  빅히트  남자  1995-12-30  178.0  AB   8073501
4    화사    마마무  RBW  여자  1995-07-23  162.1   A   7650928

In [160]:
df.groupby('소속사')

groupby와 함께 

* count() - 갯수
* sum() - 합계
* mean() - 평균
* var() - 분산
* std() - 표준편차
* min()/max() - 최소값, 최대값

In [161]:
df.groupby('소속사').count()

         이름  그룹  성별  생년월일  키  혈액형  브랜드평판지수
소속사
RBW       1   1   1     1  1    1        1
SM        1   1   1     1  0    1        1
YG        1   1   1     1  1    1        1
빅히트       5   5   5     5  5    5        5
스타크루이엔티   1   1   1     1  1    1        1
커넥트       1   0   1     1  1    1        1
큐브        1   1   1     1  0    1        1
판타지오      1   1   1     1  1    1        1
플레디스      3   3   3     3  3    3        3

산술 통계는 자동으로 산술통계가 가능한 열만 출력됩니다.

In [162]:
df.groupby('그룹').mean()

                키       브랜드평판지수
그룹
뉴이스트   177.766667  3.855194e+06
마마무    162.100000  7.650928e+06
방탄소년단  176.560000  6.260169e+06
빅뱅     177.000000  9.916947e+06
소녀시대          NaN  3.918661e+06
아스트로   183.000000  3.506027e+06
아이들           NaN  4.668615e+06
핫샷     167.100000  4.036489e+06

In [163]:
df.groupby('성별').sum()

         키   브랜드평판지수
성별
남자  2123.2  68599637
여자   162.1  16238204

특정 열만 출력하고 싶다면?

In [164]:
df.groupby('혈액형')['키'].mean()

혈액형
A     172.966667
AB    176.500000
B     183.000000
O     177.875000
Name: 키, dtype: float64

## 6. Multi-Index(복합 인덱스)

### 6-1. Multi-Index 적용

행 인덱스를 복합적으로 구성하고 싶은 경우는 인덱스를 리스트로 만들어 줍니다.

In [165]:
df.groupby(['혈액형', '성별']).mean()

              키     브랜드평판지수
혈액형 성별
A   남자  175.140  7591755.20
    여자  162.100  5784794.50
AB  남자  176.500  5687577.50
B   남자  183.000  3506027.00
    여자      NaN  4668615.00
O   남자  177.875  3939919.75

### 6-2. Multi-Index 데이터 프레임을 피벗 테이블로 변환

Multi-Index로 된 데이터프레임을 피벗테이블 형태로 다시 변환해 줄 수 있습니다.

In [166]:
df2 = df.groupby(['혈액형', '성별']).mean()

In [167]:
df2

              키     브랜드평판지수
혈액형 성별
A   남자  175.140  7591755.20
    여자  162.100  5784794.50
AB  남자  176.500  5687577.50
B   남자  183.000  3506027.00
    여자      NaN  4668615.00
O   남자  177.875  3939919.75

In [168]:
df2.unstack('혈액형')

          키                           브랜드평판지수                        \
혈액형       A     AB      B        O          A         AB          B
성별
남자   175.14  176.5  183.0  177.875  7591755.2  5687577.5  3506027.0
여자   162.10    NaN    NaN      NaN  5784794.5        NaN  4668615.0


혈액형           O
성별
남자   3939919.75
여자          NaN

In [169]:
df2.unstack('성별')

           키            브랜드평판지수
성별        남자     여자          남자         여자
혈액형
A    175.140  162.1  7591755.20  5784794.5
AB   176.500    NaN  5687577.50        NaN
B    183.000    NaN  3506027.00  4668615.0
O    177.875    NaN  3939919.75        NaN

### 6-3. 인덱스 초기화 (reset_index)

reset_index() 는 Multi-Index로 구성된 데이터 프레임의 **인덱스를 초기화**해 줍니다.

In [170]:
df2

              키     브랜드평판지수
혈액형 성별
A   남자  175.140  7591755.20
    여자  162.100  5784794.50
AB  남자  176.500  5687577.50
B   남자  183.000  3506027.00
    여자      NaN  4668615.00
O   남자  177.875  3939919.75

In [171]:
df2 = df2.reset_index()

In [172]:
df2

  혈액형  성별        키     브랜드평판지수
0   A  남자  175.140  7591755.20
1   A  여자  162.100  5784794.50
2  AB  남자  176.500  5687577.50
3   B  남자  183.000  3506027.00
4   B  여자      NaN  4668615.00
5   O  남자  177.875  3939919.75