1. 리스트

In [1]:
a, b, c, d = 10, 20, 30, 40

print(a)
print(c)

10
30

In [3]:
aa = [10, 20, 30, 40]

print(aa[0])
print(aa[-1])

10
40

In [5]:
# list 와 range 활용 

list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [6]:
a = list(range(10))
print(a)
print()
print(type(a))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

<class 'list'>

In [7]:
#  역순 출력
b = list(range(10, 0, -1))
print(b)

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [13]:
# 홀수 출력 
d = list(range(1, 10, 2))
print(d)

[1, 3, 5, 7, 9]

In [14]:
# 문자 출력 
list('drwill')

['d', 'r', 'w', 'i', 'l', 'l']

In [16]:
# for 반복문 함께 활용 

a = [10,20,30,40]

for i in a : 
    print(i)

10
20
30
40

In [17]:
for i in [10,20,30,40] : 
    print(i)

10
20
30
40

In [19]:
# enumerate : 인덱스와 요소를 함께 출력

a = [10,20,30,40]

for i, v in enumerate(a): 
    print(i, v)

0 10
1 20
2 30
3 40

In [20]:
a = [10,20,30,40]

for i, v in enumerate(a, start=1): 
    print(i, v)

1 10
2 20
3 30
4 40

In [21]:
# 리스트 합 구하기 
a = [10,20,30,40]

sum = 0 # 초기화 
for i in range(4): 
    sum = sum + a[i]
    
print(sum)

100

In [24]:
list(range(4))

[0, 1, 2, 3]

In [22]:
a = [10,20,30,40]

sum = 0 # 초기화 
for i in a: 
    sum = sum + i
    
print(sum)

100

In [25]:
a[0]

10

In [27]:
## [ 실전 ] 리스트 합 구하기 

# 리스트 초기화
aa = [] # 빈 리스트 생성
for i in range(0,4):
    aa.append(0)
    
sum = 0 

# 리스트에서 자료 입력 받기 
for i in range(0,4):
    aa[i] = int(input(str(i+1)+"번째 숫자:"))
    
# 리스트 합 구하기 
for i in range(0,4):
    sum = sum + aa[i]
    
# 리스트 값 구하세요. 
print("합계>>>%d"%sum)

1번째 숫자:10
2번째 숫자:20
3번째 숫자:30
4번째 숫자:40
합계>>>100

In [28]:
# 리스트의 인덱싱과 슬라이싱 
a = [10,20,30,40,50,60,70,80,90]
a[0:-1]

[10, 20, 30, 40, 50, 60, 70, 80]

In [29]:
a[0:len(a)]

[10, 20, 30, 40, 50, 60, 70, 80, 90]

In [30]:
a[1:1]

[]

In [31]:
a[:7]

[10, 20, 30, 40, 50, 60, 70]

In [32]:
a[:]

[10, 20, 30, 40, 50, 60, 70, 80, 90]

In [33]:
a[1] = 200
a

[10, 200, 30, 40, 50, 60, 70, 80, 90]

In [34]:
a[1:2] = [200,201]

In [35]:
a

[10, 200, 201, 30, 40, 50, 60, 70, 80, 90]

In [36]:
a[1] = [300,301]

In [37]:
a

[10, [300, 301], 201, 30, 40, 50, 60, 70, 80, 90]

In [38]:
del(a[1])

In [39]:
a

[10, 201, 30, 40, 50, 60, 70, 80, 90]

In [40]:
a[1:4] = []
a

[10, 50, 60, 70, 80, 90]

In [41]:
del(a[:2])

In [42]:
a

[60, 70, 80, 90]

In [43]:
b = [40,50,60]
a+b

[60, 70, 80, 90, 40, 50, 60]

In [44]:
b * 3

[40, 50, 60, 40, 50, 60, 40, 50, 60]

2. 리스트 조작함수

In [47]:
# 1) count(값)
c = [40,50,60,60, 70, 80, 90]

In [49]:
c.count(60)

2

In [54]:
# reverse() : 리스트에서 요소의 순서는 역순으로 만들어줌 

print(c)
c.reverse() # method 로 접근해야 함 
print(c)

[40, 50, 60, 60, 70, 80, 90]
[90, 80, 70, 60, 60, 50, 40]

In [57]:
list(reversed(c))

[40, 50, 60, 60, 70, 80, 90]

In [59]:
# sort() : 리스트 요소를 올림차순으로 정렬(default)

c 
c.sort() 
c

[40, 50, 60, 60, 70, 80, 90]

In [60]:
c.sort(reverse=True)
c

[90, 80, 70, 60, 60, 50, 40]

In [63]:
# sort vs. sorted 

e = [40, 50, 60, 70, 80, 90]
sorted(e)
e

[40, 50, 60, 70, 80, 90]

In [64]:
sorted(e, reverse=True)

[90, 80, 70, 60, 50, 40]

In [65]:
# 리스트 복사 
# 얕은 복사, 깊은 복사 

# soft copy
a = [1,2,3,4,5]
b = a

a, b

([1, 2, 3, 4, 5], [1, 2, 3, 4, 5])

In [66]:
a is b

True

In [67]:
b[2] = 100
b

[1, 2, 100, 4, 5]

In [68]:
a, b

([1, 2, 100, 4, 5], [1, 2, 100, 4, 5])

In [69]:
# hard copy

a, b

([1, 2, 100, 4, 5], [1, 2, 100, 4, 5])

In [70]:
b = a.copy()

In [71]:
a == b

True

In [72]:
a is b

False

In [73]:
b[2] = 3

a, b

([1, 2, 100, 4, 5], [1, 2, 3, 4, 5])

In [74]:
# append() : 리스트 맨 뒤에 원소 추가 

a

[1, 2, 100, 4, 5]

In [75]:
a.append(100)
a

[1, 2, 100, 4, 5, 100]

In [76]:
# extend() : 리스트 결합 

a, b

([1, 2, 100, 4, 5, 100], [1, 2, 3, 4, 5])

In [77]:
a.extend(b)

In [78]:
a

[1, 2, 100, 4, 5, 100, 1, 2, 3, 4, 5]

In [79]:
a+b

[1, 2, 100, 4, 5, 100, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

In [80]:
# insert() : 리스트 특정 인덱스에 요소 추가 

f = [10,20,30]
f.insert(2, 500) # insert(idx, value)
f

[10, 20, 500, 30]

In [83]:
f.insert(len(f), 300)
f

[10, 20, 500, 30, 300, 300]

In [85]:
# pop() : 해당 인덱스 요소를 삭제, 그 삭제한 요소 반환 
g = [10,20,30]
g.pop()

30

In [87]:
g

[10, 20]

In [88]:
# del vs remove

g

[10, 20]

In [89]:
del g[1]

In [90]:
g

[10]

In [91]:
# remove() : 리스트에서 특정 "값" 찾아서 삭제
h = [1,2,3]
h.remove(3)
h

[1, 2]

In [101]:
# clear()

a = [10,20,30]
a.clear()
a

[]

In [102]:
a = [10,20,30]
a = []
a

[]

In [104]:
# [실습] 연유라떼 얼마일까요?

menu = ['아메리카노', '밀크티', '연유라떼','카푸치노','까페라떼']
price = [2500, 4500, 4000, 3500, 4000]

연유라떼 = price[2]
print('{}원 입니다.'.format(연유라떼))

4000원 입니다.

In [105]:
연유라떼 = dict(zip(menu,price))['연유라떼']
print('{}원 입니다.'.format(연유라떼))

4000원 입니다.

In [107]:
dict(zip(menu, price))

{'아메리카노': 2500, '밀크티': 4500, '연유라떼': 4000, '카푸치노': 3500, '까페라떼': 4000}

In [108]:
판매제품 = dict(zip(menu, price))
판매제품

{'아메리카노': 2500, '밀크티': 4500, '연유라떼': 4000, '카푸치노': 3500, '까페라떼': 4000}

In [109]:
판매제품['연유라떼']

4000

In [114]:
# [실습]  카페모카 얼마일까요?

menu = ['아메리카노', '밀크티', '연유라떼','카푸치노','까페모카']
price = [2500, 4500, 4000, 3500, 4500]

In [116]:
까페모카_index = menu[-1]
까페모카_price = price[-1]

print("{}원입니다.".format(까페모카_price))

4500원입니다.

In [119]:
카페모카_index = menu[4]
카페모카_price = price[4]
print("{}원입니다.".format(까페모카_price))

4500원입니다.

In [122]:
menu.index('까페모카')

4

In [123]:
price[까페모카_idx]

4500

In [121]:
까페모카_idx = menu.index('까페모카')
까페모카_price = price[까페모카_idx]

print("{}원입니다.".format(까페모카_price))

4500원입니다.

3. 리스트 내포(list comprehension)

In [124]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [129]:
c = [i for i in list(range(10))]
c

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [126]:
[i + 5 for i in list(range(10))]

[5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [128]:
[i * 2 for i in list(range(10))]

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [130]:
# 리스트 내포에서 if 조건문 함께 사용하기
[i for i in list(range(10)) if i % 2 == 0 ]

[0, 2, 4, 6, 8]

In [131]:
[i for i in list(range(10)) if i % 2 == 1 ]

[1, 3, 5, 7, 9]

In [134]:
# 문제 발견
#a = [1.2, 3.4, 5.6, 7.8]
# int(a) 
# TypeError: int() argument must be a string, a bytes-like object or a number, not 'list'

In [132]:
# map() 함수 (***)

# 1) for 반복문 
for i in range(len(a)): 
    a[i] = int(a[i])
    
print(a)

[1, 3, 5, 7]

In [136]:
# 2) map() : 

a = [1.2, 3.4, 5.6, 7.8]

list(map(int, a))

[1, 3, 5, 7]

In [137]:
list(map(str, a))

['1.2', '3.4', '5.6', '7.8']

In [139]:
# 튜플 

t1 = (10,20,30)
t1 , type(t1)

((10, 20, 30), tuple)

In [140]:
t2 = 10,20,30 ; t2

(10, 20, 30)

In [141]:
a = () ; a

()

In [143]:
tuple([1,2,3])

(1, 2, 3)

In [144]:
tuple(range(10))

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

In [145]:
tuple(range(10, 0 , -1))

(10, 9, 8, 7, 6, 5, 4, 3, 2, 1)

In [146]:
tuple(range(10, 20 , 2))

(10, 12, 14, 16, 18)

In [148]:
tl = list(tuple(range(10, 20 , 2)))
tl

[10, 12, 14, 16, 18]

In [149]:
tl[2] = 24
tl

[10, 12, 24, 16, 18]

In [151]:
lt = tuple(tl)
lt

(10, 12, 24, 16, 18)

In [153]:
# lt[2] = 10
# lt
# TypeError: 'tuple' object does not support item assignment

In [155]:
# dict() : 딕셔너리 (key : value)

student = {'stu_id': 1000, "name": 'drwill',"dept":"computer science"}
student

{'stu_id': 1000, 'name': 'drwill', 'dept': 'computer science'}

In [157]:
student['name']

'drwill'

In [158]:
student.keys()

dict_keys(['stu_id', 'name', 'dept'])

In [164]:
student.values()

dict_values([1000, 'drwill', 'computer science', 'seoul', '010-1234-5678'])

In [165]:
student['contact'] = '010-1234-5678'
student

{'stu_id': 1000,
 'name': 'drwill',
 'dept': 'computer science',
 'addr': 'seoul',
 'contant': '010-1234-5678',
 'contact': '010-1234-5678'}

In [166]:
# items() : very imfortant
student.items()

dict_items([('stu_id', 1000), ('name', 'drwill'), ('dept', 'computer science'), ('addr', 'seoul'), ('contant', '010-1234-5678'), ('contact', '010-1234-5678')])

In [167]:
for k, v in student.items():
    print(k, v)

stu_id 1000
name drwill
dept computer science
addr seoul
contant 010-1234-5678
contact 010-1234-5678

In [169]:
del(student['contant'])

In [170]:
student

{'stu_id': 1000,
 'name': 'drwill',
 'dept': 'computer science',
 'addr': 'seoul',
 'contact': '010-1234-5678'}

In [168]:
# in 연산자

if 'addr' not in student:
    student['addr'] = 'seoul'

In [173]:
if 'email' not in student:
    student['email'] = student['name'] + '@multi.co.kr'

In [174]:
student

{'stu_id': 1000,
 'name': 'drwill',
 'dept': 'computer science',
 'addr': 'seoul',
 'contact': '010-1234-5678',
 'email': 'drwill@multi.co.kr'}

In [175]:
# 딕셔너리 키 값 추가 
# 성별(남여 여부) 

student['gender'] = input("성별을 입력하세요:")

성별을 입력하세요:남

In [176]:
student

{'stu_id': 1000,
 'name': 'drwill',
 'dept': 'computer science',
 'addr': 'seoul',
 'contact': '010-1234-5678',
 'email': 'drwill@multi.co.kr',
 'gender': '남'}

In [178]:
# 기존 값 수정 

student['addr'] = 'jeju'
student

{'stu_id': 1000,
 'name': 'drwill',
 'dept': 'computer science',
 'addr': 'jeju',
 'contact': '010-1234-5678',
 'email': 'drwill@multi.co.kr',
 'gender': '남'}

In [179]:
del(student['gender'])
student

{'stu_id': 1000,
 'name': 'drwill',
 'dept': 'computer science',
 'addr': 'jeju',
 'contact': '010-1234-5678',
 'email': 'drwill@multi.co.kr'}

In [181]:
# for 문 활용, singer 딕셔너리 모든 값 출력해 보기 

singer = {}

singer['이름'] = 'bts'
singer['구성원 수'] = 7
singer['대표곡'] = 'dynamite'

for k in singer.keys():
    print('%s >>> %s'%(k,singer[k]))

이름 >>> bts
구성원 수 >>> 7
대표곡 >>> dynamite

In [183]:
menu = {
    '아메리카노': 2500,
    '연유라떼': 4500,
    '까레라떼':4000,
    '스무디':3500    
}

# '연유라떼' 얼마예요?

연유라떼 = menu['연유라떼']
print("{}원 입니다".format(연유라떼))

4500원 입니다

In [186]:
menu={
    '떡뽁이':'순대',
    '짜장면':'단무지',
    '라면':'김치',
    '피자':'피클',
    '맥주':'땅콩',
    '치킨':'치킨무',
    '삼겹살':'파채'
}

while 1:
    a=input("좋아하는 음식은?'떡뽁이','짜장면','라면','피자','맥주','치킨','삼겹살'")
    if a in menu:
        print(f"궁합음식 : {a}---->{menu[a]}")
    elif a=='q':
        break
    else:
        print('그런음식 없습니다 다시입력해주세요')

좋아하는 음식은?'떡뽁이','짜장면','라면','피자','맥주','치킨','삼겹살'순대
그런음식 없습니다 다시입력해주세요
좋아하는 음식은?'떡뽁이','짜장면','라면','피자','맥주','치킨','삼겹살'짜장면
궁합음식 : 짜장면---->단무지
좋아하는 음식은?'떡뽁이','짜장면','라면','피자','맥주','치킨','삼겹살'q

In [187]:
menu = {
    '짜장면':'단무지',
    '라면':'김치',
    '맥주':'땅콩',
    '떡볶이':'튀김',
    '피자':'콜라',
    '치킨':'소떡소떡',
    '삼겹살':'소주'
}

while True:
    menu_name = list(menu.keys())
    a = input('좋아하는 음식은?'+str(menu_name))
    if a in menu_name:
        print(menu[a])
    else:
        print('그런 음식은 없습니다')
        break

좋아하는 음식은?['짜장면', '라면', '맥주', '떡볶이', '피자', '치킨', '삼겹살']짜장면
단무지
좋아하는 음식은?['짜장면', '라면', '맥주', '떡볶이', '피자', '치킨', '삼겹살']라면
김치
좋아하는 음식은?['짜장면', '라면', '맥주', '떡볶이', '피자', '치킨', '삼겹살']오뎅
그런 음식은 없습니다

In [189]:
f={'떡볶이':'오뎅','짜장면':'단무지','라면':'김치','피자':'피클','맥주':'노가리','치킨':'치킨무','삼겹살':'소주'}

while True:
    mf=input("좋아하는 음식?:"+str(list(f.keys())))
    if mf in f:
        print("궁합음식:%s >>>>>> %s" %(mf,f.get(mf)))
    elif mf=="q":
        break  
    else:
        print("그런 음식 없습니다. 다시 입력해주세요")

좋아하는 음식?:['떡볶이', '짜장면', '라면', '피자', '맥주', '치킨', '삼겹살']짜장면
궁합음식:짜장면 >>>>>> 단무지
좋아하는 음식?:['떡볶이', '짜장면', '라면', '피자', '맥주', '치킨', '삼겹살']오뎅
그런 음식 없습니다. 다시 입력해주세요
좋아하는 음식?:['떡볶이', '짜장면', '라면', '피자', '맥주', '치킨', '삼겹살']q

In [190]:
food = {'떡볶이': '오뎅',
       '짜장면': '단무지',
       '라면': '김치',
       '피자': '피클',
       '맥주': '땅콩',
       '치킨': '치킨무',
       '삼겹살': '상추'}

while True :
    myfood = input("좋아하는 음식은?" + str(list(food.keys())))
    if myfood in food:
        print("궁합음식 : %s ---->%s" % (myfood,food.get(myfood)))
    elif myfood == "q":
        break
    else : 
        print("그런음식이 없습니다. 다시 입력해주세요")

좋아하는 음식은?['떡볶이', '짜장면', '라면', '피자', '맥주', '치킨', '삼겹살']라면
궁합음식 : 라면 ---->김치
좋아하는 음식은?['떡볶이', '짜장면', '라면', '피자', '맥주', '치킨', '삼겹살']오뎅
그런음식이 없습니다. 다시 입력해주세요
좋아하는 음식은?['떡볶이', '짜장면', '라면', '피자', '맥주', '치킨', '삼겹살']q