# 리스트, 튜플 만들기

## 리스트 만들기

In [2]:
# []를 사용하여 빈 리스트 만들기
l1 = [ ]
l1

[]

In [3]:
# list() 함수를 사용하여 빈 리스트 만들기
l2 = list()
l2

[]

In [4]:
# []를 사용하여 초기값이 있는 리스트 만들기
l3 = [1,3,5,7,9]
l3

[1, 3, 5, 7, 9]

In [8]:
# list() 함수를 사용하여 초기값이 있는 리스트 만들기(규칙이 있는 정수값의 나열)
l4 = list(range(1,100,2))

## 튜플 만들기

In [9]:
# ( )를 사용하여 빈 튜플 만들기
t1 = ()
t1

()

In [10]:
# tuple() 함수를 사용하여 빈 튜플 만들기
t2 = tuple() # 상수
t2

()

In [11]:
# ( )에 초기값 지정하여 튜플 만들기
t3 = (1,3,5,7,9)
t3

(1, 3, 5, 7, 9)

In [14]:
# tuple() 함수를 사용하여 초기값이 있는 튜플 만들기(규칙이 있는 정수값의 나열)
t5 = tuple(range(1,100,2))

In [ ]:
# 튜플을 만들 때 괄호()를 생략할 수 있다.

In [12]:
t4 = 1,3,5,7,9
t4, type(t4)

((1, 3, 5, 7, 9), tuple)

In [ ]:
# 항목이 1개일 때는 ,를 붙인다.

In [15]:
t6  = (1,)
t6, type(t6)

((1,), tuple)

# 리스트, 튜플의 자료형
* 모든 자료형이 혼합되어 들어갈 수 있다.

In [16]:
twice = ['zzuyu',20,165,['노래','댄스']]
twice

['zzuyu', 20, 165, ['노래', '댄스']]

In [18]:
t_twice = ('zzuyu',20,165,['노래','댄스'])
t_twice

('zzuyu', 20, 165, ['노래', '댄스'])

# 리스트, 튜플 연결하기

In [21]:
l1 = ['사과','딸기','포도']
l2 = ['포도','수박']
l1 + l2

['사과', '딸기', '포도', '포도', '수박']

In [22]:
t1 = ('빨','주')
t2 = ('노','초','파','남','보')
t1 + t2

('빨', '주', '노', '초', '파', '남', '보')

# 리스트, 튜플 반복하기

In [23]:
l = ['먹고','자고']
l * 3

['먹고', '자고', '먹고', '자고', '먹고', '자고']

In [24]:
t = ('놀고','먹고','자고')
t * 2

('놀고', '먹고', '자고', '놀고', '먹고', '자고')

# 리스트, 튜플에 값 존재여부 확인
* 멤버연산자 : in, not in

In [25]:
l = [1,2,3,4]
print(5 in l)
print(5 not in l)

False
True

In [26]:
t = (1,3,5,7,9)
print(5 in t)
print(10 not in t)

True
True

# 리스트, 튜플 항목의 갯수 구하기
* len(리스트명)
* len(튜플명)

In [27]:
l = [1,3,2,4,3,5,7,8,77.7,88.8,'a','b','c',[10,20,30]]
len(l)

14

In [28]:
t = ((1,2),[3,4])
len(t)

2

In [31]:
t[0]

(1, 2)

In [32]:
t[1]

[3, 4]