# 학생별 총점,평균 구하기


* 다음은 학생 별 [국어,영어,수학]점수가 저장된 리스트이다.    
score_list = [[96,84,80],[96,86,76],[76,95,83],[89,96,69],[90,76,91]]   
각 학생의 세 과목의 성적의 [총점, 평균]을 구하여 리스트에 담으시오.    
(평균은 반올림하여 소수점 1자리까지 표현한다.)

In [1]:
score_list = [[96,84,80],[96,86,76],[76,95,83],[89,96,69],[90,76,91]]
stu_scores = []

In [2]:
for i in score_list: 
    total = sum(i)
    average = total / 3
    print([total, round(average,2)])

[260, 86.67]
[258, 86.0]
[254, 84.67]
[254, 84.67]
[257, 85.67]

In [3]:
for i in score_list: 
    total = sum(i)
    average = total / 3
    stu_scores.append([total, round(average,2)])

stu_scores

[[260, 86.67], [258, 86.0], [254, 84.67], [254, 84.67], [257, 85.67]]

# 과목별 평균 구하기

* 다음은 학생 별 [국어,영어,수학]점수가 저장된 리스트이다.       
score_list = [[96,84,80],[96,86,76],[76,95,83],[89,96,69],[90,76,91]]         
각 과목의 리스트를 분리하고 과목별 평균을 구해봅시다.
평균은 소수점 1자리까지 출력한다.

In [8]:
score_list = [[96,84,80],[96,86,76],[76,95,83],[89,96,69],[90,76,91]]

# 출력해서 나올 각 과목의 값(평균) 담을 공간 생성(리스트)
kor_list = [ ]
eng_list = [ ]
math_list = [ ]

# 초기값 설정
kor_average = 0
eng_average = 0
math_average = 0 

# 각 과목의 리스트 분리하기 

for i in score_list: 
   #print(i)
    kor_list.append(i[0])
    eng_list.append(i[1])
    math_list.append(i[2])

print('kor_list:', kor_list)
print('eng_list:', eng_list)
print('math_list:', math_list)

kor_list: [96, 96, 76, 89, 90]
eng_list: [84, 86, 95, 96, 76]
math_list: [80, 76, 83, 69, 91]

In [10]:
len(kor_list)

5

In [9]:
sum(kor_list)/len(kor_list)

89.4

In [14]:
kor_average = sum(kor_list)/len(kor_list)
eng_average = sum(eng_list)/len(eng_list)
math_average = sum(math_list)/len(math_list)

print('kor_average:',kor_average)
print('eng_average:', eng_average)
print('math_average:', math_average)

kor_average: 89.4
eng_average: 87.4
math_average: 79.8

# 랜덤 항목 추출하기
* random.choice(리스트명)

In [15]:
menulist = ['한식','일식','중식','양식','분식','이탈리아식']
print('오늘은 뭘먹지?')

오늘은 뭘먹지?

In [18]:
import random 
random.choice(menulist)

'이탈리아식'

* 메뉴를 입력받아 랜덤으로 메뉴를 정하는 프로그램을 작성해봅시다.     
공백('')을 입력할 때까지 메뉴를 입력받습니다.

In [20]:
menumlist = [ ]

while True: 
    menu = input('땡기는 메뉴:')
    if menu =='':
        break 
    menulist.append(menu)

print('오늘의 메뉴는:', random.choice(menulist))

땡기는 메뉴:
오늘의 메뉴는: 분식