파이썬에서 프로그래밍을 할때 가장 많이 사용하는 메소드중 하나가 print()일 것이다.<br> print를 다양하게 사용할 수 있지만, 앞으로 자주 사용하는 형태 몇가지를 살펴보자.

## 1. 출력

Jupyter notebook환경에서는 셀의 마지막 줄에 변수명을 올려 놓으면, <br> 그 내용은 print()메소드를 사용하지 않아도 출력해준다.

In [ ]:
a=10
print(a)
a

그러나 다음과 같이 하나의 셀에 여러 개를 출력할 경우에는 print()메소드를 이용하면 된다.

In [ ]:
#문자열의 출력
print('"안녕하세요"')
print("안녕하세요")
print('Hello')

In [ ]:
#숫자의 출력
print(12345678)

In [ ]:
#문자열의 출력
print("12345678")

## 2. 변수와 대입

변수는 **데이터를 담는 그릇**으로 이해하자.

변수라는 그릇에 정수 또는 문장, file을 담을 수 있는데, <br>이들을 구별하기 위해 변수들에 이름을 부여해야한다.

### 2-1. 변수의 이름

case 1. 알파벳 대소문자와 한글도 가능하다.<br> (한글은 가능하지만 한영변환을 자주해야해서 불편하다.)

In [ ]:
a = 1

In [ ]:
A = 1

In [ ]:
변수 = 1

In [ ]:
변수

case 2. 알파벳 + 숫자 (가능)

In [ ]:
a1 = 1

case 3. 알파벳 + 언더바(_) (가능)

In [ ]:
a_ = 1

case 4. 언더바(_) + 알파벳 (가능))

In [ ]:
_a = 1

case 5. 숫자 + 알파벳 (불가능)

In [ ]:
1a = 1 
# 에러 발생 : SyntaxError: invalid syntax

case 6. 특수문자 (불가능)

In [ ]:
* = 7
# 에러 발생 : SyntaxError: invalid syntax

case 7. 언더바를 제외한 특수문자 (불가능)

In [ ]:
a$ = 6
# 에러 발생 : SyntaxError: invalid syntax

case 8. 변수의 이름 사이의 공백 (불가능)

In [ ]:
a b = 6
# 에러 발생 : SyntaxError: invalid syntax

주로 변수는 **소문자 알파벳으로 생성**하고, 필요시 **언더바**나 **숫자를 붙히는 방식**이 일반적이다.

In [ ]:
test = 10

In [ ]:
test01 = 20

In [ ]:
test_01 = 30

**낙타등 표기법(CamelCase)**으로 변수명을 표현하는 것도 좋다

In [ ]:
myData = 30

### 2-2. 변수의 출력

1. print() 구문 사이에 **값을 직접 집어 넣으면**, 바로 **값이 출력**된다.
2. print() 구문 사이에 **변수 이름**을 집어 넣으면, 그 **값이 출력**이 됩니다.

In [ ]:
# 값을 바로 집어 넣은 경우
print('test')

In [ ]:
a = 123

In [ ]:
print(a)

In [ ]:
a = '안녕하세요, 반갑습니다'

In [ ]:
print(a)

In [ ]:
test1 = 10
print(type(test1))
test2 = '20'
print(type(test2))
print('test1={}, test2={}'.format(test1, test2))

# 파이썬의 자료형

파이썬은 자료형으로 숫자, 문자, 리스트, 튜플, 딕셔너리, 집합, 불(bool)의 형태를 가지고 있다.

이 파일에서는 아래의 순서로 진행한다. 
1. 숫자 <br>
2. 문자 <br>
3. 리스트(List) <br>
4. 튜플(Tuple) <br>
5. 딕셔너리(Dictionary) <br>
6. 집합(set) <br>
7. 불(Bool) <br>

## 3. 데이터 타입

**데이터 type**

1. int(정수)
2. float(실수)
3. str(문자열) 
4. bool(참/거짓)

### 3-1. int(정수)

In [ ]:
a = 1

In [ ]:
#type()메소드를 이용
type(a)

In [ ]:
print(a>0)

In [ ]:
if a>0:
    print('1은 참으로 취급')
    print(1)
    print(2)
else:
    print('1은 거짓부렁이')

In [ ]:
if 0:
    print('0은 참으로 취급')
else:
    print('0은 거짓부렁이')

In [ ]:
if 123:
    print('123은 참으로 취급')
else:
    print('123은 거짓부렁이')

### 3-2. float(실수)

In [ ]:
a = 3.14

In [ ]:
type(a)

In [ ]:
print(a)

In [ ]:
print('3.14')

### 3-3. str 혹은 object (문자)

In [ ]:
word = '안녕하세요'

In [ ]:
word = "안녕하세요"

In [ ]:
type(word)

In [ ]:
word = "안녕하세요"

In [ ]:
type(word)

In [ ]:
#'안녕하세요' 출력
print("'안녕하세요'")

### 3-4. bool (참/거짓)

In [ ]:
a = False

In [ ]:
type(a)

In [ ]:
print(a)

In [ ]:
0 == False

### 3-5 아무것도 아닌 None 타입도 있습니다.

말 그래도 아무 것도 아닌 흔히 Null 값을 넣는다고도 합니다.

사전상 의미는<br>
* **Null: Nullify (무효화하다)**
라는 뜻을 가지고 있다네요~

python에서는 **None** 입니다!

In [ ]:
a = None

In [ ]:
type(a)

In [ ]:
print(a)

## 4. 데이터 타입 (집합)

**집합 형태의 데이터 타입**

1. list (순서 O, 집합, 변경가능)  []
2. tuple (순서 O, 읽기 전용 집합) ()
3. set (순서 X, 중복X, 집합) 
4. dict (key, value로 이루어진 사전형 집합)

### 4-1. list (순서가 있는 집합)

[] 형태로 표현합니다.

In [ ]:
mylist = []

In [ ]:
mylist

In [ ]:
type(mylist)

In [ ]:
mylist = [1, 3, 2, 4, 5]

In [ ]:
mylist

#### 리스트에 추가하기

In [ ]:
mylist = []

In [ ]:
mylist

**리스트의 맨 마지막에 x를 추가하는 함수**이다.

In [ ]:
# 비어있는 mylist에 '1'을 추가
mylist.append(1)
mylist.append(1)

In [ ]:
mylist

In [ ]:
mylist.append(2)
mylist.append(3)

In [ ]:
mylist

#### 리스트에서 제거하기

In [ ]:
mylist

remove(x)는 리스트에서 **첫 번째로 나오는 x를 삭제하는 함수**이다.

In [ ]:
mylist.remove(1)

In [ ]:
mylist
# 앞의 1 제거됨

In [ ]:
mylist.remove(1)

In [ ]:
mylist

#### 여러 값들이 포함되어 있을 때 제거 순서

In [ ]:
mylist = []
mylist.append(1)
mylist.append(2)
mylist.append(3)
mylist.append(1)
mylist.append(2)
mylist.append(3)

In [ ]:
mylist

In [ ]:
mylist.remove(1)

In [ ]:
mylist

In [ ]:
mylist.remove(1)

In [ ]:
mylist

In [ ]:
mylist.remove(1)
# 에러 발생 : ValueError

#### 인덱싱(indexing) -> 색인

In [ ]:
mylist = [1, 2, 3, 4]

인덱스는 **0번 부터 시작** 합니다.

In [ ]:
mylist[0]

In [ ]:
mylist[3]

In [ ]:
mylist[4]
# 에러 발생 : IndexError

In [ ]:
# -는 뒤에서 몇번째인지
mylist[-1]

In [ ]:
mylist[-5]
# 에러 발생 : IndexError

#### 인덱스로 접근하여 값 바꾸기
list는 값을 변경할 수 있다.(tuple은 변경 불가능)

In [ ]:
mylist

In [ ]:
mylist[0]

In [ ]:
# 리스트의 값을 변경
mylist[0] = 100

In [ ]:
mylist

#### 전체 길이 (사이즈) 알아내기

In [ ]:
# list의 갯수(길이)를 알려주는 함수
len(mylist)

In [ ]:
!pwd 
# present working directory

In [ ]:
# 현재 위치 파일 목록 조회 
!ls

In [ ]:
# 리눅스에서 touch명령은 비어있는 파일을 생성해주는 명령
!touch a.txt b.txt c.txt

In [ ]:
# 파일의 내용을 화면에 출력 
!cat a.txt

In [ ]:
# import는 python에서 추가 패키지를 가져올때 
import os

!mkdir test1 
# make directory(folder)

In [ ]:
# 현재 디렉토리의 파일 목록을 읽어본다.
#'.'은 현재 디렉토리를 가리킨다.
curList = os.listdir('.')
curList

In [ ]:
import os 

dirName = "test" + "2"
print(dirName)

In [ ]:
os.mkdir(dirName)

In [ ]:
curList

In [ ]:
type(curList)

In [ ]:
len(curList)

### 4-2. tuple (순서가 있는 집합, 읽기 전용)

() 로 표현합니다

In [ ]:
mytuple = (1, 2, 3, 4, 5)

In [ ]:
mytuple.append(1)
# AttributeError: 'tuple' object has no attribute 'append'
# immutable (불변) >> 상수

In [ ]:
mytuple.remove(1)

In [ ]:
mytuple[0] = 1
# TypeError: 'tuple' object does not support item assignment

#### 길이 파악하기

In [ ]:
len(mytuple)

In [ ]:
mytuple

## set (순서 X, 중복 X)
수학에서 집합의 개념

In [ ]:
# 비어있는 집합
# 변경가능
myset = set()

In [ ]:
myset

In [ ]:
type(myset)

In [ ]:
myset.add(1)
myset.add(2)
myset.add(3)

In [ ]:
myset

In [ ]:
# 리스트와는 다르게 중복허용X
myset.add(1)
myset.add(2)
myset.add(3)
myset.add(1)
myset.add(2)
myset.add(3)

In [ ]:
myset

In [ ]:
myset.add(4)

In [ ]:
myset

In [ ]:
s1 = set([1, 2, 3])
s1.update([4, 5, 6])
s1

In [ ]:
# 한 개, 또는 여러 개의 값을 한꺼번에 추가(update)할 때는 사용한다.
s1 = set([1, 2, 3])
s1.update([4])
s1

In [ ]:
# remove는 add와 같이 한 개만 지정할 수 있다.
s1 = set([1, 2, 3])
s1.remove(2)
s1

### 4-3. dict (사전형 집합, key와 value 쌍)

{}로 표현합니다

In [ ]:
# 비어있는 dict를 생성
# 추가할 수 있다. 변경가능하다.
mydict = dict()

In [ ]:
mydict

In [ ]:
type(mydict)

#### 값을 추가하기

In [ ]:
mydict = dict()

In [ ]:
# key-> 'apple'x, value=123456
mydict['apple'] = 123456

In [ ]:
mydict['apple']

In [ ]:
mydict

In [ ]:
mydict[0] = 2

In [ ]:
mydict[0]

In [ ]:
mydict

mydict의 키는 **문자형** / **숫자형**이 혼용 가능합니다

In [ ]:
mydict[3.14] = 'test'

In [ ]:
mydict

In [ ]:
mydict['test1'] = (1234,2345)

float(실수)도 키로써 입력이 가능합니다.

In [ ]:
mydict

#### 값을 바꾸기

In [ ]:
mydict['apple'] = 'byebye'

In [ ]:
mydict

#### 길이 파악하기

In [ ]:
len(mydict)