#1. 주석

'' ""

In [1]:
print('"test"')
print("I'm a boy.")

"test"
I'm a boy.

# 1-1 서브

# '#' 뒤에 한칸 띄어 코멘트를 넣어줍니다.

In [2]:
# 코멘트를 달아줍니다.
a = 3
b = 4

# a + b 연산을 수행 합니다
print(a + b)

7

## 2. indent

indent(들여쓰기)는 파이썬에서 굉장히 중요합니다.

단순히, 코드를 깔끔히 정리하기 위해서 들여쓰기를 하는 것은 아닙니다.

* 본인이 맞게 코드를 짰다고 한다면, indent는 colab에서 자동으로 해줄 것입니다.
* [tab]키를 한 번 누르면 indent가 1번 한 효과입니다.

**indent 옵션**을 space * 4 개로 바꿔봅시다

**[우측상단 톱니바퀴] - 편집기 - 들여쓰기 - 4 로 바꿔봅시다**

### 2-1. 콜론(:) 다음에 반드시 들여쓰기를 부여합니다.

In [3]:
# 함수의 본문은 들여쓰기를 한번 적용합니다.
def my_func():
    print('indent가 자동으로 되나요?')

In [4]:
# 함수 간단하게 만들어 보기
def add_func(a, b):
    result = a+b
    return result


a = 10
b = 20

# 덧셈 함수를 만들어서 활용하자
c = add_func(a,b)
c

30

### 2-2. 들여쓰기가 잘못될 경우 에러가 발생합니다

In [5]:
a = 3
    b = 4

IndentationError: ignored

## 3. 함수란 무엇일까요?


반복적으로 사용되는 부분을 묶어서,  
코드를 **재사용 가능**하도록 만들어 주는 코드 집합
함수에는 **input**이 있고,  
**output(return)**이 있습니다.  
정해진 로직(규칙)에 따라, input -> output으로 효율적으로 바꿔주는 역할을 합니다

In [6]:
a = 1
b = 2
c = 3

In [7]:
(a + b) * c

9

In [8]:
# 입력값은 보통 인자값(argument, arg)
# 입력 인자값은 3개, 리턴값은 1개
def calc(a, b, c):
    return (a + b) * c

In [9]:
calc(1, 2, 3)

9

In [10]:
calc(2, 2, 3)

12

In [11]:
calc(3, 2, 3)

15

## 4.def **함수이름** (parameter1, parameter2, parameter...)**:**

In [12]:
def my_func(var1):
    print(var1)

In [13]:
my_func("What's up?")

What's up?

In [14]:
my_func(3.14)

3.14

In [15]:
myList = [1,2,3,4]
my_func(myList)

[1, 2, 3, 4]

## 5. 함수는 값을 리턴할 수 있고, 리턴이 없어도 됩니다.

In [16]:
# 리턴이 없는 경우
def my_func(a, b):
    print(a, b)

In [17]:
my_func(1, 10)

1 10

In [20]:
def multi_func(a,b):
    add = a + b 
    sub = a - b
    mul = a * b
    div = a / b 

    return add, sub, mul, div

In [21]:
a = 10
b =  5

result = multi_func(a,b)
result

(15, 5, 50, 2.0)

In [22]:
type(result)

tuple

In [23]:
add, sub, mul, div = multi_func(a,b)
print("add={}, sub={}, mul={}, div={}".format(add, sub, mul, div))

add=15, sub=5, mul=50, div=2.0

In [24]:
type(add), type(sub), type(mul), type(div)

(int, int, int, float)

In [18]:
# 리턴이 있는 경우
def my_func(a, b):
    s = a + b
    return s

In [19]:
result = my_func(1, 10)
print(result)

11

In [29]:
a = 10 
b = 5

add,_, mul, div = multi_func(a,b) 
# _ : 나 안 받을거야 ~~~, 순서는 유지하기 위해 2번째 자리에 공백을 주는 의미 
print("add={}, mul={}, div={}".format(add, mul, div))

add=15, mul=50, div=2.0

## 6. parameter는 여러 개가 가능하고, 함수에 넘겨 줄 때 순서가 있습니다.

In [30]:
def my_func(a, b, c):
    return (a + b) * c

In [31]:
a = 10
b = 20
c = 3

In [32]:
(a + b) * c

90

In [33]:
my_func(c, b, a)

230

In [ ]:
my_func(a, b, c)

90

## 7. 함수는 리턴값을 여러 개 가질 수 있다.

In [34]:
# 이 함수는 +,-, *,/을 한번에 계산해주는 함수
def multi_func(a,b):
    add = a+b
    sub = a-b
    mul = a*b
    div1 = a/b
    div2 = a//b
    return add,sub,mul,div1,div2

In [35]:
a=10
b=20

In [36]:
result = multi_func(a,b)
print(type(result))
result

<class 'tuple'>

(30, -10, 200, 0.5, 0)

In [37]:
result1, result2, result3, result4, result5 = multi_func(a,b)
print(type(result4))
result4

<class 'float'>

0.5

In [38]:
# 리턴값이 5개인데 그중에 특정한 리턴값을 안받고 싶을 때
# 리턴받는 변수명 대신에 '_'를 사용한다.
result1, result2, result3, _, result5 = multi_func(a,b)
result1, result2, result3, result5

(30, -10, 200, 0)

In [39]:
# a,b는 함수 안에서 사용하는 변수명
def strAdd(a, b):
    strResult = a+' '+b
    #print(strResult)
return strResult

SyntaxError: ignored

In [42]:
# 문자열을 입력으로 받으면 문자열을 연결해주는 함수를 만들어보자

strA = "Hello"
strB = "World!"

def strAdd(a, b):
    strResult = a+' '+b
    #print(strResult)
    return strResult


result = strAdd(strA, strB) 
result

'Hello World!'