## 1. 반복문이란?

* 반복해야 하는 일을 반복하는 것
* 반드시 list, dict, set 등 집합에 대한 순회를 돌며 일을 처리할 때 많이 쓰입니다.

In [1]:
mylist = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [2]:
mylist

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

mylist에 들어 있는 모든 값들을 출력하려고 한다면?

In [3]:
print(mylist[0])
print(mylist[1])
print(mylist[2])
print('...')
print(mylist[8])
print(mylist[9])

1
2
3
...
9
10

## 2. for 와 in을 활용하자!

**[기본 문법]**<br>
for 하나씩 꺼내올 때 변수 in [꺼내올 집합]

In [4]:
mylist = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [5]:
for abc in mylist:
    print(abc)

1
2
3
4
5
6
7
8
9
10

In [6]:
myfruit=['사과','배','귤','수박']

In [7]:
for fruit in myfruit:
    print(fruit)

사과
배
귤
수박

In [10]:
# 현재 디렉토리 파일 목록 출력 

!touch a.txt b.txt c.txt

In [11]:
import os

os.listdir('.')

# linux 에서 파일명이 . 으로 시작될 때, 숨긴 파일(.config)

['.config', '.ipynb_checkpoints', 'b.txt', 'a.txt', 'c.txt', 'sample_data']

In [13]:
range(10)

range(0, 10)

In [14]:
for i in range(10): 
    print(i)

0
1
2
3
4
5
6
7
8
9

In [8]:
# 별을찍어보자
# *
# **
# ***
# ****
# *****

symbol='*'
# range(5) :숫자를 0~4까지 생성해서 in 앞에 있는 변수에게 전달한다.
# range(1,6) : 시작값은 1로, 종료값은 6미만으로 생성해서 변수에게 전달한다.
for i in range(1,6):
    #print(i)
    print('{}'.format(symbol*i))

*
**
***
****
*****

In [12]:
# 별을찍어보자
# *****
# ****
# ***
# **
# *
symbol='*'
for i in range(5,0,-1):
    #print(i)
    print('{}'.format(symbol*i))

*****
****
***
**
*

In [ ]:
# test 

#    *
#   ***
#  *****
# *******

In [17]:
symbol ='*'
space = ' '
count = 3

for i in range(1, 9, 2): 
    #print(i)
    print('{}{}'.format(space*count, symbol*i))
    count -= 1

   *
  ***
 *****
*******

## 3. 반복문에서 짝수만 출력하려면?

In [18]:
mylist = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [19]:
for i in mylist:
    # your code here #
    if i % 2 == 0:
        print(i)
    ##################

2
4
6
8
10

In [20]:
# 또 다른 짝수를 출력하는 방법
for i in range(2,11,2):
    print(i)

2
4
6
8
10

**continue**는 반복문 안에서 continue를 만났을때 다음 명령을 실행하지 않고 반복문의 최상위로 올라가서 다음 반복을 진행한다.

In [22]:
for i in mylist:
    # 아래 if문은 홀수 인 경우에 continue를 실행
    if i % 2 == 1:
        continue  # 홀수인 경우, print() 가지 않고 위로 올라가 반복함
    # 짝수인 경우 출력 한다.
    print(i)

2
4
6
8
10

## 4. break로 조건에 해당하면 빠져나와보자!

In [23]:
mylist = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

i가 6 이상이면 STOP
**break**의 특성은 루프나 반복문을 탈출한다. 빠져나간다.

In [24]:
for i in mylist:
    # i의 값이 6보다 같거나 크면 'break'를 출력
    if i >= 6:
        print('break')
        break
    print(i)

1
2
3
4
5
break

**1시25분까지 풀어보세요**

In [ ]:
# 별을찍어보자 
#    *      공백 4, 별 1
#   ***     공백 3, 별 3
#  *****    공백 2, 별 5
# *******   공백 1, 별 7 
#*********  공백 0, 별 9

In [25]:
symbolStar='*'
symbolSp =' '

count = 1

for space in range(4,-1,-1):
    #print(space)
    print('{}{}'.format(symbolSp*space, symbolStar*count))
    count = count + 2

    *
   ***
  *****
 *******
*********

In [26]:
symbol="*"
space=" "
for i in range(5):
    print(space*(4-i),symbol*(2*i+1))

     *
    ***
   *****
  *******
 *********

In [27]:
symbol="*"
space=" "
for i in range(4,-1,-1):
    print(space*(4-i),symbol*(2*i+1))

 *********
  *******
   *****
    ***
     *

In [ ]:
# 별을찍어보자 
#    *      공백 4, 별 1            i=0
#   * *     공백 3, 별 1, 공백 1, 별1 i=1
#  *   *    공백 2, 별 1, 공백 3, 별1 i=2 
# *     *   공백 1, 별 1, 공백 5, 별1 i=3 
#*       *  공백 0, 별 1, 공백 7, 별1 i=4

In [28]:
# format()를 사용한 경우
symbol="*"
space=" " 
for i in range(5):
    if i==0:
        print("{}{}".format(space*(4-i),symbol))
    else:
        print('{}{}{}{}'.format(space*(4-i), symbol, (i*2-1)*space, symbol))

    *
   * *
  *   *
 *     *
*       *

In [29]:
# format()를 사용하지 않은 경우
symbol="*"
space=" " 
for i in range(5):
    if i==0:
        print(space*(4-i)+symbol)
    else:
        print(space*(4-i)+symbol+(i*2-1)*space+symbol)

    *
   * *
  *   *
 *     *
*       *

In [30]:
star = '*'
space = ' '
for idx in range(5):
    if idx == 0:
        print('{}{}'.format(space*(4-idx), star))
    else:
        print('{}{}{}{}'.format(space*(4-idx), star, space*(idx*2-1), star))

    *
   * *
  *   *
 *     *
*       *

In [31]:
# 별을찍어보자
#    *    공백4, 별1          (4-0), 1
#   * *   공백3, 별, 공백1, 별  (4-1), 1, (1*2-1), 1
#  *   *  공백2, 별, 공백3, 별  (4-2), 1, (2*2-1), 1
# *     * 공백1, 별, 공백5, 별  
blank = ' '
star = '*'
for i in range(5) : 
    if(i>=1) : 
        print((4-i)*blank+ star + (i*2-1)*blank + star)
    else :
        print(4*blank + star)

    *
   * *
  *   *
 *     *
*       *